.mycard{
    margin:50px;
}
h3{
    font-family: Grand Hotel, cursive;
}
.mycard .authcard{
    padding:20px;
    text-align:center;
    max-width: 400px;
    margin:10px auto;
}

.mycard .authcard .mybtn{
    background-color: black;
    color: white;
}

.inputfield input[type=text]:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
  }