.inputfield input[type=text]:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
  }

.mybtn{
    background-color: black !important;
    color: white !important; 
}


.form{
    max-width: 400px;
    margin: 32px auto !important;
    text-align: center;
    padding:32px;
    min-height:350px;
}